*{margin: 0px; padding: 0px;}

body {

	background-color: #333953;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: center;

}

card
 {
	transition: 1s;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: purple;
	background-image: linear-gradient(-45deg,#f403d1,#64b5f6);
	border-radius: 2em;
	color: white;

}


card i:not(hover) {

	font-size: 36px;
	padding: 20px;
	background-color: #f403d1;
	background-image: linear-gradient(-200deg,#f403d1,#64b5f6);
	border-radius: 50%;
	transition: 1s;

}

card i:hover {

	transition: 1s;
	box-shadow: 0px 0px 10px #0000008f;

}

a {

	color: inherit;
	text-decoration: inherit;

}
