*{margin: 0px; padding: 0px;}
html { scroll-behavior: smooth; } 
body {
	background-color: #333953;
}

#we {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: center;
}

#we down {
	position: absolute;
	animation: cimaBaixo 1s infinite;
	font-size: 36px;
	color: white;
	outline: 0;
}

@keyframes cimaBaixo {
	0% {bottom: 25px;}
	50% {bottom: 30px;}
	100% {bottom: 25px;}
}

card
 {
	 transition: 1s;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: purple;
	background-image: linear-gradient(-45deg,#f403d1,#64b5f6);
	border-radius: 2em;
	color: white;
}

#vermelho {

	background-image: linear-gradient(-45deg, #bb0038, #fd155a)

}

#vermelho2 {

	background-image: linear-gradient(-200deg, #fd155a ,#bb0038)

}


card i:not(hover) {

	transition: 1s;
	font-size: 36px;
	padding: 20px;
	background-color: #f403d1;
	background-image: linear-gradient(-200deg,#f403d1,#64b5f6);
	border-radius: 50%;
	transition: 1s;

}

card i:hover {

	transition: 1s;
	box-shadow: 0px 0px 10px #0000008f;
	
}

button {
	cursor: pointer;
	background: none;
	border-style: none;
	color: inherit;
	font-size: inherit;
	text-decoration: inherit;
	border: none;
	color: white;
	outline: 0;
}

a {
	
	color: inherit;
	text-decoration: inherit;
	
}

#us {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: center;
	background-color: #dd0044;
	height: 100vh;
}

#us h1 {

	color: white;
	font-family: Montserrat;
	background-color: #202333;
	padding: 10px 6px;
	text-align: center;

}

#us down {

	position: absolute;
	animation: baixoCima 1s infinite;
	font-size: 36px;
	color: white;

}

@keyframes baixoCima {
	
	0% {bottom: -97vh;}
	50% {bottom: -96vh;}
	100% {bottom: -97vh;}
	
}
